@model Product

<div class="product-details-inner">
    <div class="row">
        <div class="col-lg-5">
            <div class="product-large-slider mb-20">
                @foreach (ProductImages product in Model.ProductImages)
                {
                    <div class="pro-large-img img-zoom">
                        <img src="~/assets/img/product/@Model.Image" alt="product thumb" />
                    </div>
                }
            </div>
            <div class="pro-nav slick-row-5">
                @foreach (ProductImages products in Model.ProductImages)
                {

                    <div class="pro-nav-thumb"><img src="~/assets/img/product-quick/@products.Image" alt="" /></div>
                }
            </div>
        </div>
        <div class="col-lg-7">
            <div class="product-details-des">
                <h3 class="pro-det-title">@Model.Name</h3>
                <div class="pro-review">
                    <span><a href="#">1 Review(s)</a></span>
                </div>
                @if (Model.DiscountPrice > 0)
                {
                    <div class="price-box">
                        <span class="regular-price">$@Model.DiscountPrice.ToString("F2")</span>
                        <span class="old-price"><del>$@Model.Price.ToString("F2")</del></span>
                    </div>
                }
                else
                {
                    <div class="price-box">
                        <span class="regular-price">$@Model.Price.ToString("F2")</span>
                    </div>
                }
                <p>@Model.Description</p>
                <div class="quantity-cart-box d-flex align-items-center mb-20">
                    <div class="quantity mt-15 d-flex modalcontainer">
                        <a asp-controller="basket" asp-action="UpdateFrommodal" asp-route-id="@Model.Id" class="subCount btn border"><i class="fal fa-minus"></i></a>
                        <input type="text" value="1" />
                        <a asp-controller="basket" asp-action="UpdateFrommodal" asp-route-id="@Model.Id" class="addCount btn border"><i class="fal fa-plus"></i></a>
                    </div>
                    <a asp-controller="basket" asp-action="addtobasket" asp-route-id="@Model.Id" class="btn btn-default addbasket">Add To Cart</a>
                </div>
                <div class="availability mb-20">
                    <h5 class="cat-title">Availability:</h5>
                    @if (Model.Availability == true)
                    {
                        <span>In Stock</span>
                    }
                    else
                    {
                        <span style="color:red">No Stock</span>
                    }
                </div>
                <div class="share-icon">
                    <h5 class="cat-title">Share:</h5>
                    <a href="@Model.FacebookUrl"><i class="fa fa-facebook"></i></a>
                    <a href="@Model.TwitterUrl"><i class="fa fa-twitter"></i></a>
                    <a href="@Model.PinterestUrl"><i class="fa fa-pinterest"></i></a>
                    <a href="@Model.GooglePlusUrl"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
